<!--The content below is only a placeholder and can be replaced.-->
<div class="content-wrapper" id="content-wrapper">
  <div class="col-sm-offset-1 col-sm-10">
    <div style="text-align:center">
      <h1>
        Welcome to {{title}}!
      </h1>
      </div>
      <ul>
        <li>Implemented the below dropdown using Angular5.</li>
        <li>The HttpClient.get() method is used to parse the JSON server response into
          the movies Object type.</li>
          <li>Tried developing stylesheets using Sass like saving variables, mixins.</li>
      </ul>

    <router-outlet></router-outlet>
  </div>
</div>
